body {
    background-image: url('../Image/loginBG.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: bold;
}

.address-box {
    margin-top: 30px;
    margin-bottom: 30px;
    height: auto;
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}

.btn-add {
    border-radius: 20px;
    background-image: linear-gradient(185deg, black, rgb(58 51 33));
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    margin-top: 30px;
}

    .btn-add:active {
        transform: scale(0.95);
    }

    .btn-add:focus {
        outline: none;
    }

    .btn-add.ghost {
        background-color: transparent;
        border-color: #ffffff;
    }

.newaddr {
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
    padding: 12px 15px;
    margin: 16px 0;
    width: 80%;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}
