body {
    background-image: url('../Image/loginBG.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: bold;
}

.login-container {
    margin-top: 30px;
    margin-bottom: 30px;
    height: 350px;
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}

.signup-box {
    margin-top: 30px;
    margin-bottom: 30px;
    height: 800px;
    width: 500px;
    background-color: rgba(255,255,255,0.13);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}

.info {
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 30px;
}

.btnlogin {
    border-radius: 20px;
    background-image: linear-gradient(185deg, black, rgb(58 51 33));
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    margin-top: 30px;
}

    .btnlogin:active {
        transform: scale(0.95);
    }

    .btnlogin:focus {
        outline: none;
    }

    .btnlogin.ghost {
        background-color: transparent;
        border-color: #ffffff;
    }

.signin {
    background-color: rgba(255,255,255,0.9);
    border-radius: 3px;
    border: 1px solid black;
    padding: 12px 15px;
    margin: 16px 0;
    width: 80%;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}

.createacc {
    text-decoration: underline;
    font-size: 10px;
    font-family: 'Bookman Old Style';
    background-color: transparent;
    border: none;
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    margin-top: 10px;
}
